# APPLICATION
PORT=

# DATABASE
MONGO_URL=

# COOKIE
COOKIE_SECRET=

# JWT
ACCESS_TOKEN_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_TIME= # should be number like 900 (in seconds)
REFRESH_TOKEN_SECRET_KEY=
REFRESH_TOKEN_EXPIRE_TIME= # should be string like '7d' (in days)

# BOT
TELEGRAM_BOT_TOKEN=

# EMAIL
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=



SIGNATURE_SECRET=

